@import url('https://cdn.shopify.com/shopify-marketing_assets/builds/30.6.0/marketing_assets/builds/shopify-sans.css');

body {
    font-family: ShopifySans, Arial, sans-serif !important;
    background-color: #212B35;
    color: #F4F6F8;
    margin: 0px;
    margin-top: 8px;
    /* overflow: hidden; */
}

.Polaris-Page {
    max-width: 1400px;
}

.Polaris-Card {
    background-color: rgb(43, 53, 63);
}

.Polaris-DataTable__Table {
    border-collapse: collapse;
}

.Polaris-DataTable__Cell--header {
    color: #F4F6F8;
}

.Polaris-DataTable__Cell {
    padding-left: 0;
    padding-right: 0;
    border: solid 1px rgb(66, 73, 82);
}

.Polaris-DataTable__Cell.player-record--total {
    border-right: solid 2px rgb(87, 96, 109);
}

.Polaris-DataTable__TableRow:hover .Polaris-DataTable__Cell {
    background-color: #212B35;
}

th {
    height: 52px;
}

tr {
    height: 52px;
}

.Polaris-DataTable__Cell {
    text-align: center;
    vertical-align: inherit;
}

.player-record--best {
    background-color: rgba(0, 180, 0, 0.2);
}

.player-record--worst {
    background-color: rgba(180, 0, 0, 0.2);
}

.record--value {
    padding: 4px;
}

.avatar {
    width: 48px;
    height: 48px;
    padding: 2px;
    border-radius: 50%;
}
