@import url('https://cdn.shopify.com/shopify-marketing_assets/builds/30.6.0/marketing_assets/builds/shopify-sans.css');

body {
    font-family: ShopifySans, Arial, sans-serif !important;
    background-color: #212B35;
    color: #F4F6F8;
    margin: 0px;
    margin-top: 8px;
    /* overflow: hidden; */
}

.Polaris-Page {
    max-width: 100%;
    width: auto;
}

.Polaris-DataTable__Table {
    width: auto;
}

.Polaris-Card {
    background-color: rgba(255, 255, 255, 0.05);
}

th {
    height: 52px;
}

tr {
    height: 52px;
}

.player-record--best {
    background-color: rgba(0, 255, 0, 0.05);
}

.avatar {
    width: 48px;
    height: 48px;
    padding: 2px;
    border-radius: 50%;
}
